* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif, Arial, Helvetica;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main-container-on {
  display: flex;
  position: relative;
  width: 425px;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.main-wrapper-off {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  top: 0;
  padding-left: 0%;
  transition: .5s;
  height: auto;
}

.main-wrapper-on {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  top: 0;
  padding-left: 80%;
  transition: .5s;
  height: auto;
  overflow: hidden;
}

.black-wrapper-on {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 1000;
}

.black-wrapper-off {
  display: none;
}

.sliding-bar-on {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 0%;
  transition: .5s;
  padding: 0px 15px;
  background-color: teal;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sliding-bar-off {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: -80%;
  transition: .5s;
  overflow-x: hidden;
}
